DOMAIN_NAME="<your domain name>"        # example mydomain.com
SUB_DOMAIN_NAME="<sub domain name>"     # sub domain for above domain 'ecs'
ACM_CERT_ARN="<ACM Cert Arn>"           # Cert arn for above subdomain 'https://ecs.mydomain.com'"
API_KEY="<API Key in app>"              # If you use demo app it is 1234567890
DEFAULT_ACCOUNT="<default account>"     # Primary account this is installed to
DEFAULT_REGION="<region>"               # Default region for primary account
SECONDARY_ACCOUNT="<secondary account>" # Account to share with via RAM
